.forecast-weather {
  border-radius: 20px;
  margin-top: 60px;
  padding: 15px 10px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.forecast-temperature {
  margin-left: 4px;
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  text-align: center;
}

.forecast-temperature-min {
  margin-left: 8px;
  opacity: 0.6;
}

.forecast-icon {
  padding: 24px 20px;
  display: flex;
  justify-content: center;
}
