:root {
  --main-blue-color: rgb(0, 187, 203);
  --main-pink-color: rgb(214, 67, 111);
  --background-color: rgba(255, 255, 255, 0.1);
  --text-color: rgba(241, 241, 241, 0.856);
}
.Weather {
  max-width: 700px;
  border-radius: 20px;
  padding: 40px;
  display: block;
  margin: 80px auto 80px;
  font-family: "Albert Sans", sans-serif;
  height: 600px;
  color: white;
  background: linear-gradient(to bottom, #2f2653, #2a1f4f, #232347);
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 20%);
}
.search-button {
  background: none;
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  color: var(--main-blue-color);
  font-size: 16px;
  font-family: "Albert Sans", sans-serif;
  transition: all ease-in 20ms;
  border: 2px solid var(--main-blue-color);
}
.search-button:hover {
  border: 2px solid var(--main-blue-color);
  background: var(--main-blue-color);
  color: white;
}

.search {
  padding-top: 30px;
  padding-bottom: 10px;
}

.Weather .search-input {
  background: var(--background-color);
  border-radius: 10px;
  padding: 10px;
  border: 2px solid var(--background-color);
  color: white;
  margin-top: 2px;
}

input[type="text"]:focus {
  background: var(--background-color);
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid var(--main-pink-color);
}

.unit {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  color: var(--text-color);
}

.unit a {
  text-decoration: none;
  color: var(--main-pink-color);
}

.unit a:hover {
  color: rgb(157, 42, 76);
}

.city {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
}

.time {
  margin-left: 2px;
  color: var(--text-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 2px;
  margin-top: 20px;
  font-size: 14px;
  color: var(--text-color);
}

.temperature {
  font-size: 72px;
  padding: 0 20px 0 10px;
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
}

.weather-section {
  display: flex;
  justify-content: space-between;
}

.current-weather {
  align-items: center;
  display: flex;
  margin-top: -20px;
}

.description {
  font-weight: bold;
  font-size: 20px;
  font-family: "Albert Sans", sans-serif;
  padding-top: 10px;
  opacity: 0.8;
}

.description:first-letter {
  text-transform: capitalize;
}
.icon {
  margin-top: 45px;
  margin-right: 20px;
}

.Loading {
  position: relative;
  flex-flow: column wrap;
  overflow: auto;
  padding: 30px 20px;
  display: flex;
  -webkit-box-pack: center;
  place-content: center;
  place-items: center;
  -webkit-box-align: center;
}
